.container {
  display: flex;
  align-items: center;
  padding-left: 20px;

  input {
    width: 70px;
    height: 20px;
    border-radius: 20px;
    padding-left: 10px;
    transition: 0.5s;
    border: orange;
  }

  input:hover {
    width: 100px;
    border: none;
  }
  input:focus {
    width: 100px;
    border: none;
    outline: none;
  }

  button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: orange;
  }

  button:hover {
    background-color: orange;
    .icon {
      color: white !important;
    }
  }
}

@media (min-width: 600px) {
  .container {
    height: 100%;
    margin-left: auto;

    input:hover {
      width: 110px;
    }
    input:focus {
      width: 110px;
    }
  }
}
