.container{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    
    .buttonMenu, .buttonFilter {
        height: 80%;
        background-color: white;
        border-radius: 50%;
        border: none;
        border-radius: 50%;
    }
    
    .filter, .menu{
        display: none;
        width: 150px;
        position: absolute;
        top: 48px;
        right:-150px ;
        transition: 1s;
        z-index: 200;
    }
    
    .buttonFilter:hover ~ .filter{
        display: block;
        width: 150px;
        position: absolute;
        top: 44px;
        right:-5px ;
        
    }
    
    .buttonMenu:hover ~ .menu{
        display: block;
        width: 150px;
        position: absolute;
        top: 44px;
        right:-5px;
    }
}

@media (min-width: 600px) {
  .container {
    display: none;
  }
}
