.container {
  min-height: 100vh;
  display: grid;
  grid:
    "navBar" 48px
    "contenido" auto
    "footer" 80px /
    auto;

  .filter {
    display: none;
  }

  .navBar {
    grid-area: navBar;
  }

  .filter {
    grid-area: filter;
  }

  .contenido {
    grid-area: contenido;
  }

  .footer {
    grid-area: footer;
    background-color: orange;
  }
}

@media (min-width: 600px) {
  .container {
    min-height: 100vh;
    display: grid;
    grid:
      "navBar navBar" 66px
      "filter contenido" auto
      "footer footer" 80px/
      200px auto;

    .filter {
      display: flex;
      width: 100%;
    }
  }
}
