.container {
  background-color: orange;

  div {
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid white;
  }

  .titulo {
    display: none;
  }
}

@media (min-width: 600px) {
  .container {
    height: 100%;
    width: 100%;

    .titulo {
      display: flex;
    }
  }
}
