.container {
  background-color: orange;

  button {
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid white;
  }
}
//

@media (min-width: 600px) {
  .container {
    height: 100%;
    display: flex;
    background-color: inherit;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      width: 100px;
      background-color: inherit;
      height: 100%;
      border: none;
    }

    button:hover {
      border: 2px solid white;
      color: white;
    }
    button:focus {
      border: 2px solid white;
      color: white;
    }

    .user{
      display: none;
    }
  }
}
